@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");
:root {
  --image: "bruh";
  --text-clr: #fff;
  --text-clr2: #cacaca;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  padding: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#614385), to(#516395));
  background-image: linear-gradient(to left, #614385, #516395);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

body::after {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

main {
  margin-left: 12vw;
  padding-top: 2rem;
  padding-bottom: 12em;
}

.skeleton {
  -webkit-animation: skeletonLoading 1s linear infinite alternate;
          animation: skeletonLoading 1s linear infinite alternate;
}

@-webkit-keyframes skeletonLoading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}

@keyframes skeletonLoading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}

p {
  margin: 0;
}

p.track_oi {
  margin-left: 1em;
  margin-right: 1em;
  color: var(--text-clr2);
}

p.track_name {
  width: 600px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: var(--text-clr) 0px 0px 3px;
  color: var(--text-clr);
}

p.album_creator {
  margin-top: 0.8vh;
  color: var(--text-clr2);
}

p.track_ms {
  color: var(--text-clr2);
}

.trackBox {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  margin: .4em 0;
}

.trackBox.playlist {
  -ms-grid-columns: 60px 80px 650px 800px;
      grid-template-columns: 60px 80px 650px 800px;
}

.trackBox.album {
  -ms-grid-columns: 60px 650px 800px;
      grid-template-columns: 60px 650px 800px;
}

.trackBox > * {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.trackBox .track_info {
  text-align: left;
}

.icon {
  background-size: cover;
  background-position: center;
  width: 64px;
  height: 64px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vw;
  margin-bottom: 8vw;
  width: 100vw;
  max-height: clamp(12rem, 15vw, 16rem);
}

.hero h1 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-left: 2vw;
}

.hero h1.album_name {
  width: 25ch;
  font-size: clamp(2.5rem, 3.5vw, 10rem);
  color: var(--text-clr);
  text-shadow: var(--text-clr) 0px 0px 10px;
}

.hero h1.album_desc {
  width: 35ch;
  font-size: clamp(1rem, 2vw, 10rem);
  color: var(--text-clr);
  text-shadow: var(--text-clr) 0px 0px 5px;
}

.hero h1.artist_name {
  width: 55ch;
  font-size: clamp(1rem, 1.5vw, 10rem);
  color: var(--text-clr2);
}

.hero .cover {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.79);
          box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.79);
  display: inline-block;
  background: url(http://cdn3.cdnme.se/cdn/8-2/11142/images/2009/82203555_2_39005872.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 1vw;
  margin-left: 3vw;
  width: clamp(12rem, 15vw, 16rem);
  height: clamp(12rem, 15vw, 16rem);
}

h2 {
  font-size: clamp(2rem, 2vw, 10rem);
  color: var(--text-clr2);
  margin: 3vw 0vw 0vw 0vw;
  display: inline-block;
}

.scrolling-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  width: 88vw;
  height: auto;
  overflow: auto;
  white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.scrolling-wrapper .card {
  display: inline-block;
  margin: 0 1vw;
  width: 12vw;
  height: 14vw;
  max-height: 14vw;
}

.scrolling-wrapper .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 12vw;
  height: 12vw;
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.79);
          box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.79);
}

.scrolling-wrapper .card p {
  color: var(--text-clr2);
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: clamp(0.5rem, 1vw, 10rem);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.scrolling-wrapper .card p:first-of-type {
  color: var(--text-clr);
  text-shadow: var(--text-clr) 0px 0px 3px;
}

.navbar {
  width: 12vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-ul .navbar-li {
  width: 100%;
  margin: 2.5rem 0;
}

.navbar-ul .navbar-li.sel .navbar-link svg {
  -webkit-filter: drop-shadow(0 0 10px var(--text-clr));
          filter: drop-shadow(0 0 10px var(--text-clr));
  min-width: 2.2rem;
  max-width: 2.2rem;
}

.navbar-ul .navbar-li.sel .navbar-link {
  color: var(--text-clr);
}

.navbar-ul .navbar-li .navbar-link {
  height: 5rem;
  color: var(--text-clr2);
}

.navbar-ul .navbar-li .navbar-link svg {
  min-width: 1.8rem;
  max-width: 1.8rem;
  margin: 0 1.5rem;
}
/*# sourceMappingURL=style.css.map */